{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="container" style="background-color: aqua; min-width: 1400px !important;">
<div class="row">

    <div class="card shadow" style="width: 100%; height: auto">

        <div class="row">
           <div class="col-md-12" style="margin-top: 10px; margin-left: 10px;">
            <h5><b>Feedback Report</b></h5>
           </div>
        </div>
        <form role="form" method="post" action="">
            <div class="row" style="margin-top: 1%;padding: 2%;">
                {% csrf_token %}
                    <div class='col-md-4'>
                        <div class="form-group">
                            <div class="input-group start-date">
                                <input type="text" name="start_date" class="form-control" placeholder="Select start date" required>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class="form-group">
                            <div class="input-group end-date">
                                <input type="text" name="end_date" class="form-control" placeholder="Select end date" required>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" style="color: antiquewhite;">Get your report</button>
                    </div>
            
            </div>
        </form>
       <div class="row" style="margin-top: 1%; padding: 2%;">
            <div class="col-md-4">
                <h5>Teaching</h5>
                <canvas id="teaching_chart"></canvas>
            </div>

            <div class="col-md-4">
                <h5>Course Content</h5>
                <canvas id="course_content_chart"></canvas>
            </div>

            <div class="col-md-4">
                <h5>Examination</h5>
                <canvas id="examination"></canvas>
            </div>
       </div>

       <div class="row" style="margin-top: 1%; padding: 2%;">
        <div class="col-md-4">
            <h5>Labwork</h5>
            <canvas id="labwork"></canvas>
        </div>

        <div class="col-md-4">
            <h5>Library Facilities</h5>
            <canvas id="library_facilities"></canvas>
        </div>

        <div class="col-md-4">
            <h5>Extracurricular Activities</h5>
            <canvas id="extracurricular_activities"></canvas>
        </div>
   </div>
    </div>
            
</div>
</div>
{% endblock %}
{% block extraScripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        //Bootstrap datepicker default function. Its for initialize two datepicker 
        $('.start-date input').datepicker({
            orientation: 'bottom',
            autoclose: "true",
            format: 'yyyy-mm-dd',
            setDate: '2023-03-28'
        })
        
        var start_date =  " {{start_date}} " ;
        var end_date = "{{ end_date }}"

        if (start_date) {
            $(".datepicker").datepicker("update", new Date(start_date));
        }
            

    
        $('.end-date input').datepicker({
            orientation: 'bottom',
            autoclose: "true",
            format: 'yyyy-mm-dd'
        })

    //Datepicker deafult function. This for adding a validation to the second date picker for endDate.
    $(".start-date input").datepicker().on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.end-date input').datepicker('setStartDate', minDate);
    })

    $(".end-date input").datepicker().on('changeDate', function (selected) {
       
    })


    var teaching_config = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ teaching |safe }},
            backgroundColor: ['#000', '#808080'],
            label: 'Teaching Feedback'
          }],
          labels: {{ labels|safe }}
        },
        options: {
          responsive: true
        }
      };


      var course_content_config = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ course_content |safe }},
            backgroundColor: ['#009999', '#808080','#00e6e6'],
            label: 'Population'
          }],
          labels: {{ labels|safe }}
        },
        options: {
          responsive: true
        }
      }; 

      var examination_config = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ examination |safe }},
            backgroundColor: ['#ffe6e6', '#ff8080','#ff1a1a'],
            label: 'Population'
          }],
          labels: {{ labels|safe }}
        },
        options: {
          responsive: true
        }
      }; 

      var labwork_config = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ labwork |safe }},
            backgroundColor: ['#b3fff0', '#4dffdb','#00997a'],
            label: 'Population'
          }],
          labels: {{ labels|safe }}
        },
        options: {
          responsive: true
        }
      }; 

      var library_facilities_config = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ library_facilities |safe }},
            backgroundColor: ['#eeccff', '#d580ff','#bb33ff'],
            label: 'Population'
          }],
          labels: {{ labels|safe }}
        },
        options: {
          responsive: true
        }
      }; 

      var extracurricular_activities_config = {
        type: 'pie',
        data: {
          datasets: [{
            data: {{ extracurricular_activities |safe }},
            backgroundColor: ['#809fff', '#b3c6ff','#002db3'],
            label: 'Population'
          }],
          labels: {{ labels|safe }}
        },
        options: {
          responsive: true
        }
      }; 


  
      window.onload = function() {
        var teaching_chart = document.getElementById('teaching_chart').getContext('2d');
        window.myPie = new Chart(teaching_chart, teaching_config);

        var course_content_chart = document.getElementById('course_content_chart').getContext('2d');
        window.myPie = new Chart(course_content_chart, course_content_config);

        var examination = document.getElementById('examination').getContext('2d');
        window.myPie = new Chart(examination, examination_config);

        var labwork = document.getElementById('labwork').getContext('2d');
        window.myPie = new Chart(labwork, labwork_config);

        var library_facilities = document.getElementById('library_facilities').getContext('2d');
        window.myPie = new Chart(library_facilities, library_facilities_config);

        var extracurricular_activities = document.getElementById('extracurricular_activities').getContext('2d');
        window.myPie = new Chart(extracurricular_activities, extracurricular_activities_config);

      };


</script>
{% endblock %}

