{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>StudentClub</title>
    <style>
        a.nav-link {
          display: flex;
          align-items: center;
      }
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
         }

    </style>
  </head>
  <body>
    
    <!-- Navigation bar-->
    <nav class="navbar navbar-expand-sm ">
        <!-- Brand -->
        <a class="navbar-brand" href="#">StudentClub</a>
      
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="material-icons">
                    home
                    </span>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="material-icons d-inline">
                notifications
                </span>Notification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="material-icons">
                    inbox
                    </span>Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="material-icons">
                face
                </span>Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="material-icons">
                insert_comment
                </span>Feedback</a>
          </li>
      
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Settings
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Password reset</a>
              <a class="dropdown-item" href="#">Contact</a>
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="#">Log out</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </nav>
      <br>
<!--Nabar end-->
{% block content %}
<div class="container">
  {% for post in post_items %}
  <div class="card shadow" style="width:550px;">
    <a href="{{ post.get_absolute_url }}">
      <img class="card-img-top" src="{{ post.post_picture.url }}" alt="" style="width:550px;"></a>
    <div class="card-body" style="display: flex;
    align-items: center;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 left-content">
            <div class="row">
              <div class="col-md-2">
                {% if post.user.profile.profile_picture %}
                <img src="{{ post.user.profile.profile_picture.url }}" class="float-left" width="36" height="36">  
                {% else %}
                <img src="{% static '/img/profile-image.jpg' %}" class="float-left" width="36" height="36">
                {% endif %}
              </div>
              <div class="col-md-10" style="margin-left: -25px;">
                {% if post.user.profile.first_name %}
                <a href="{% url 'profile' post.user %}"><h6>{{post.user.profile.first_name}} {{post.user.profile.last_name}}</h6></a>
                {% else %}
                <a href="{% url 'profile' post.user %}"></a><h6>Unknown</h6></a>
                {% endif %}
                <h6>@{{ post.user.username }}</h6>
              </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                <p>
                  {% for tag in post.tags.all %}
                  <a href="{{ tag.get_absolute_url }}" style="color: #007bff;">#{{tag}}</a>
                  {% endfor %}
              </p>
               </div>
            </div>           
          </div>
          <div class="col-md-2 right-content" style="margin-left:auto; margin-bottom: 51px;">
            <a href="{% url 'postlike' post.id %}" class="btn" style="text-align: center;">
              <span class="material-icons" style="color: rgb(230, 81, 81);">
                favorite
                </span></a>
              <p>{{ post.likes }} Likes</p>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-12" style="text-align: justify; margin-top: -40px;">
           <h6>{{ post.caption }}</h6>
           <h6>{{ post.posted_date }}</h6>
          
          </div>
       </div>  
      </div>
    </div>
  </div>
  {% empty %}
   <div class="card shadow" style="height: 150px; text-align: center; padding-top: 40px;">
    You are currently not following anyone. So you have no feed to see now. 
   </div>
    <br>
  {% endfor %}
</div>
{% endblock %}
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>