{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>StudentClub</title>
    <style>
        button.login, a.signup {
            display: flex;
            align-items: center;
        }

        div.btns {
            display: flex;
            align-items: center;
        }

        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
         }

         .material-icons {
            color: antiquewhite; font-size: 20px;
            margin-right: 2px;
         }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="margin-top: 100px;">
                <div class="card shadow" style="border-color: antiquewhite; border-radius: 8px;">
                    <div class="card-header">
                        <h2>StudentClub Login</h2>
                        {% if form.errors %}
                            <span style="color: red; font-style: bold;">Your username and password did not match</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form action="" method="post" role="form">
                            {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                        </div>
                        <div class="btns" style="text-align: center;">
                            <button type="submit" value="login" class="btn login" style="background-color: #C264DE; color: antiquewhite;"><span class="material-icons" >
                                login
                                </span>Login</button>

                            <input type="hidden" name="next" value="{{next}}">
                                <a href="{% url 'signup' %}"  class="btn signup" style="background-color: #C264DE; margin-left: 10px;color: antiquewhite;"><span class="material-icons" style="margin-bottom: -5px;">
                                    account_circle
                                    </span>
                                    Create an account
                                </a>
                            </form>
                        </div>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div> 
    </body>
</html>