
{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <style>
        a.nav-link{
            display: flex;
            align-items: center;
        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    </style>
 {% endblock %}
  
 {% block content %}
<div class="container">
      <!-- Another variation with a button -->
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search user here" name="username" value="{{ request.GET.username }}">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="submit" style="background-color: #C264DE;">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6 offset-md-3" style="overflow-y: auto; height:500px;">
                {% for user in users %}
                <div class="card shadow">
                    <div class="card-body">
                        <div class="left-content">
                          <div class="row">
                            <div class="col-md-2 profile-image">
                             {% if user.profile.profile_picture %}
                                <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}" width="45" height="45">
                              {% else %}
                              <img src="{% static '/img/profile-image.jpg' %}" class="rounded"  width="45" height="45" style="margin-left: 15px;">
                              {% endif %}
                            </div>
                            <div class="col-md-6 profile-info">
                              {% if user.profile.first_name %}
                              <strong>{{user.profile.first_name}} {{user.profile.last_name}} </strong> 
                              {% else %}
                              <strong>Unknown</strong>
                              {% endif %}
                              <br>
                              <strong>@{{user.username}}</strong>
                              <br>
                              {% if user.profile.course %}
                              <strong>{{user.profile.course}}</strong> 
                              {% endif %}
                            </div>
                            <div class="col-md-4 send-message">
                                <a href="{% url 'newmessage' user.username %} " type="button" class="btn btn-success" style="background-color: #C264DE;">Say hello!!!...</a>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <br>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}